<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${appName}" style="color: green">Default app name</h1>
    <hr/>
    <div class="content">
        <div class="row article" th:each="post : ${posts}">
            <div class="col-md-10 col-md-offset-1">
                <h3 th:text="${'Пост от ' + post.creationDate}">Пост от 2019.09.08</h3>
            </div>
            <div class="col-md-11 description">
                <p class="description-text" th:text="${post.text}">Text</p>
            </div>
            <div class="col-md-1">
                <button class="btn btn-sm btn-secondary like" th:text="${post.likes + ' ❤'}" th:attr="data-post-id=${post.id}">0 ❤</button>
            </div>
            <div class="col-md-12">
                <hr/>
            </div>
        </div>
    </div>
</div>
</body>
</html>